/* 
https://www.codingnepalweb.com/custom-warning-alert-notification/ 
*/

.alert {
  background:#990000;
  padding: 20px;
  width: 95%;
  position: absolute;
  right: 0;
  top: 10px;
  border-radius: 4px;
  border-left: 8px solid rgb(179, 3, 3);
  opacity: 0;
  overflow: hidden;
  pointer-events: none;
  white-space: normal;
  text-align: left;
}

.alert.showAlert{
  opacity: 1;
  pointer-events: auto;
}
.alert.show{
  animation: show_slide 1s ease forwards;
}
@keyframes show_slide {
  0%{
    transform: translateX(100%);
  }
  40%{
    transform: translateX(-10%);
  }
  80%{
    transform: translateX(0%);
  }
  100%{
    transform: translateX(-10px);
  }
}
.alert.hide{
  animation: hide_slide 1s ease forwards;
}
@keyframes hide_slide {
  0%{
    transform: translateX(-10px);
  }
  40%{
    transform: translateX(0%);
  }
  80%{
    transform: translateX(-10%);
  }
  100%{
    transform: translateX(100%);
  }
}
.alert .msg{
  font-size: 18px;
  color: black;
  word-wrap: break-word;
  width: 80%;
  text-align: left;
}

.alert .close-btn{
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  background: rgb(179, 3, 3);
  padding: 10px;
  cursor: pointer;
  height: 100%;
}


.alert .close-btn:hover{
  background: rgb(231, 5, 5);
}

.alert .close-btn span{
  color: black;
  font-size: 2em;
  font-weight: bold;
  text-align: left;
  border-radius: 5px;
}


@media only screen and (min-width: 1281px) {
  .alert{
    min-width: 310px;
    max-width: 390px;
  }

}

/**/