 <!DOCTYPE html>
  <html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/style.css">
    <title>YouTube as a group</title>
  </head>
  <body>
  <div class="center">
      <form action="/generate_room" method="post">
        <input type="text" class="form_input" placeholder="YouTube ID" name="ytid"/>
        <input type="text" class="form_input" placeholder="Username" name="username"/>
        <input type="submit" class="button"/>
      </form>
  </div>
  </body>
  </html>