<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/style.css">
    <title>YouTube as a group</title>
</head>
<body>

<div class="header">
    <div class="row">
        <div class="col-4 logo">
            <a href="/" class="button">YouTube as a group</a>
        </div>
        <div class="col-3">
            <a href="https://github.com/DailoxFH/ytasagroup" target="_blank" class="button">Github</a>
        </div>
    </div>
</div>

<div class="center">
    <form action="/generate_room" method="post">
        <input type="text" class="form_input" placeholder="YouTube ID" name="ytid"/>
        <input type="text" class="form_input" placeholder="Username" name="username"/>
        <input type="submit" class="button submit-button"/>
    </form>
</div>
</body>
</html>