<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0; user-scalable=0;">
    <link rel="stylesheet" href="static/css/style.css">
    <link rel="stylesheet" href="static/css/alert.css">
    <title>YouTube Watch</title>

    <script type="text/javascript">
        let activeUser = "{{ user }}";
        let yt_id = "{{ ytid }}";
        let room_id = "{{ roomId }}";
    </script>
</head>
<body>
<div class="header">
    <div class="row">
        <div class="col-4 logo">
            <a href="/" class="button">YouTube as a group</a>
        </div>
        <div class="col-3">
            <a href="https://github.com/DailoxFH/ytasagroup" target="_blank" class="button">Github</a>
        </div>
    </div>
</div>
<div class="alert hide">
    <p id="username_to_show" class="msg"></p>
    <div class="close-btn">
        <span>X</span>
    </div>
</div>
<div class="yt-container">
    <div class="col-3">
        <div class="row">
            YTID:
            <div id="input_ytid" class="informative">{{ ytid }}</div>
        </div>
        <div class="row">
            Room ID:
            <div id="input_roomid" class="informative">{{ roomId }}</div>
        </div>
        <div class="row">
            User:
            <div id="input_user" class="informative">{{ user | safe}}</div>
        </div>
        <div class="row">
            Change made by:
            <div id="change" class="informative"></div>
        </div>
    </div>
    <div class="col-6">
        <div id="player"></div>
    </div>
    <div class="col-3">
        <label for="event-log">Events</label><textarea id="event-log" disabled>
            </textarea>
        <label for="user-list">Active Users</label><textarea id="user-list" disabled>
            </textarea>
    </div>
</div>

<br>
<div class="row">
    <div class="col-9">
        <input type="text" id="ytid" placeholder="YouTube ID">
    </div>
    <div class="col-3">
        <button id="submit" class="button">Submit</button>
    </div>
</div>

<script src="/static/js/youtube_player.js"></script>
<script src="/static/js/alert.js"></script>
</body>
</html>