<!DOCTYPE html>
  <html lang="en">
  <head>
    <title>YouTube Watch</title>
  </head>
    <body>
    YT ID:
    <input id="input_ytid" value="{{ ytid }}" disabled>
    Room ID:
    <input id="input_roomid" value="{{ roomId }}" disabled>
    User:
    <input id="input_user" value="{{ user }}" disabled>

    Change made by:
    <input id="change" disabled>

    <div>
      <div id="player"></div>
    </div>
    <br>
    <br>
    <input type="text" id="ytid">
    <button id="submit">Submit</button>

    <script src="/static/js/youtube_player.js"></script>
    </body>
  </html>